{% extends "layout/guest.twig" %}

{% block content %}
    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Content -->
        <div class="hero">
            <div class="hero-inner text-center">
                <div class="bg-body-extra-light">
                    <div class="content content-full overflow-hidden">
                        <div class="py-4">
                            <!-- Error Header -->
                            <h1 class="display-1 fw-bolder text-modern">
                                500
                            </h1>
                            <h2 class="h4 fw-normal text-muted mb-5">
                                We are sorry but our server encountered an internal error..
                            </h2>
                            <!-- END Error Header -->

                            <!-- Search Form -->
                            <form action="be_pages_generic_search.html" method="POST">
                                <div class="row justify-content-center mb-4">
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="input-group input-group-lg">
                                            <input class="form-control form-control-alt" type="text" placeholder="Search application..">
                                            <button type="button" class="btn btn-dark">
                                                <i class="fa fa-search opacity-75"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END Search Form -->
                        </div>
                    </div>
                </div>
                <div class="content content-full text-muted fs-sm fw-medium">
                    <!-- Error Footer -->
                    <p class="mb-1">
                        Would you like to let us know about it?
                    </p>
                    <a class="link-fx" href="javascript:void(0)">Report it</a> or <a class="link-fx" href="be_pages_error_all.html">Go Back to Dashboard</a>
                    <!-- END Error Footer -->
                </div>
            </div>
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
{% endblock %}
